<div class="pensamento {{ test_data.model }} ff-roboto-mono" [ngClass]="thoughtLength()">
    <img src="assets/imagens/{{ test_data.model }}.png" alt="model_color">
    <p class="conteudo">
        {{ test_data.content }}
    </p>
    <p class="autoria">
      <b> {{ test_data.author }} </b>
    </p>
    <div class="acoes">
        <button class="botao-editar">
            <img src="assets/imagens/icone-editar.png" alt="edit_icon">
        </button>

        <button class="botao-excluir">
            <img src="assets/imagens/icone-excluir.png" alt="delete_icon">
        </button>
    </div>
</div>
